@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.primary-icn-bg-color {
  background-color: #504ef3;
}
.primary-login-bg-color {
  background-color: #505a65;
}
.primary-notif-bg-color {
  background-color: #e5e5e5;
}
.primary-Sid-bg-color {
  background-color: #100f46;
}
.primary-box-bg-color {
  background-color: #8583e9;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}